ballerina/tests/resources/xsd_tests/schemas/schema_4.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Vehicle">
        <xs:complexType>
            <xs:choice>
                <xs:element name="Car" type="xs:string"/>
                <xs:element name="Bike" type="xs:string"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>